/* Styles pour le formulaire */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-color: rgb(207, 158, 158);
    
    /* Bordure de 10px autour de la page */
}

form {
    margin: 0 auto;
    padding: 20px;
    color: rgb(223, 108, 108);
    font-size: 18px;

    width: 180px;

    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 10px; */
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 180px;
    margin-bottom: 120px;
 
}

h1 {
    text-align: start;

    color: black;
    font-size: 130px;
    margin-bottom: 300px;
    padding-top: 20px;
    margin-left: 80px;
}

span {
    color: black;
    font-size: 100px;

}

h2 {
    color: rgb(223, 108, 108);
    border-radius: 35px;
    font-size:90px;
    text-transform: ;
}

h3 {
    text-align: start;
    color: rgb(223, 108, 108);
 
   
    margin-bottom: 130px;
    font-size: 80px;
    
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"] {
    width: 200%;
    padding: 7px;
    margin-bottom: 10px;
    border: 8px solid rgb(175, 173, 173);
}

input[type="submit"] {
    font-size: 77px;
    border: 8px solid rgb(219, 186, 186);
    width: 250px;
    background-color:rgb(243, 83, 83) ;
    border-radius: 8px;
    font-weight: bold;
}

select {
    width: 220%;
    padding: 5px;
    margin-bottom: 20px;
    border: 8px solid rgb(175, 173, 173);
}

#main-container{
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    border: 15px solid pink;
}


#container-1, #container-2, #container-3, #container-4 ,#container-6{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
}

#container-1{
    background-image: url(eden/photo1.jpg);
}
#container-2{
    background-image: url(eden/photo2.jpg);
}
#container-3{
    background-image: url(eden/photo3.jpg);
}
#container-4{
    background-image: url(eden/photo4.jpg);
}

#container-6{
    background-image: url(eden/photo6.jpg);
}

h1{
    position:absolute;
    left:25%;
    top:-45px;
}
#beaute-eternelle{
    opacity: 0.9;
    position:absolute;
    left:10%;
    bottom:10%;
    border-radius: 35px;
    background-color: #00000074;

}
