body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    /* background-image: url("https://media.gettyimages.com/id/1278514207/fr/vectoriel/particules-%C3%A0-linfini-noir-bg.jpg?s=612x612&w=0&k=20&c=KVHteYu9XHYeHgBjwTjyHGOpvFTAUNR8wQQlo8hwj2c="); */
    background-repeat: no-repeat;
    background-position: 870px 100px;
}

.logo {
    align-items: center;
}

.logo2 {
    width: 700px;
    height: auto;
    margin: 20px;
}

h1 {
    color: rgb(192, 180, 174);
    font-size: 120px;
}

h2 {
    color: rgb(192, 180, 174);
    font-size: 40px;
    margin-top: 280px;
}

input[type="submit"]{
    position: relative;
    top: 200px;
    width: 250px;
    height: 40px;
    border: 5px solid pink;
    background-color: black;
    color: rgb(192, 180, 174);
    font-size: 25px;

}

    #container-1{
        display: flex;
        flex-direction:row;
        /* justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap; */
        background-image: url(eden/photo1.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;

    }
    #container-2{
        display: flex;
        flex-direction: row;
        /* justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap; */
        background-image: url(eden/photo2.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;

    }
 
    
  
    #container-3{

        background-image: url(eden/photo3.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;
    }
    #container-4{
        background-image: url(eden/photo4.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;
    }
    
    #container-5{
        background-image: url(eden/photo5.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;
    } 
    #container-6{
        background-image: url(eden/photo6.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;

    }
    #container-3{
        background-image: url(eden/photo3.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;
    }
    #container-4{
        background-image: url(eden/photo4.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;
    }
    
    #container-5{
        background-image: url(eden/photo5.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;
    } 
    #container-6{
        background-image: url(eden/photo6.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;
    } 
    #container-6{
        background-image: url(eden/photo6.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;

    }
    #container-7{
        background-image: url(eden/photo7.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;
    }
    #container-8{
        background-image: url(eden/photo8.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;
    }
    
    #container-9{
        background-image: url(eden/photo9.jpg);
        border: 5px solid pink;
        width: 200px;
        height: 250px;
   
    }

